<%= form_for(@watcher, remote: true) do |f| %>
  <% if @watcher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@watcher.errors.count, "error") %> prohibited this watcher from being saved:</h2>

      <ul>
      <% @watcher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :domain%><br>
    <%= f.text_field :domain%>
  </p>
  
  <p>
    <%= f.label :email%><br>
    <%= f.text_field :email %>
  </p>
  <p>
   <%= f.radio_button(:frequency, "min") %> 
   <%= f.label(:frequency, "Every 10 Minutes") %>
   <%= f.radio_button(:frequency, "hour") %>
   <%= f.label(:frequency, "Every Hour") %>
   <%= f.radio_button(:frequency, "day") %>
   <%= f.label(:frequency, "Every Day") %>
  </p>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

