<p id="notice"><%= notice %></p>

<%= @domains.count %> domains


<h2>Results for <%= @domain.name %></h2>
<h3>UA Code for <%= @domain.uacode %></h3>
<h3>User Who Created  <%= @domain.user.email %></h3>

<button id="hide">Hide</button>
<button id="show">Show</button>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Uacode</th>
      <th>Pub ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @domains.each do |domain| %>
      <tr>
        <td><%= link_to domain.name, domain_path(domain) %></td>
        <td><%= domain.uacode %></td>
        <td><%= domain.pubid %></td>
        <td><%= link_to 'Edit', edit_domain_path(domain) %></td>
        <td><%= link_to 'Destroy', domain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to "Delete", domain_path(domain_id: @domain.id, id: domain.id), method: :delete, data: {confirm: "Are you sure?"}, class: 'destroy-link', remote: true %></td>

      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'Edit', edit_domain_path(@domain) %> |
<%= link_to 'Back', domains_path %>
