

<% if !logged_in? %>
<div id="wrapper">
<div id="leftcolumn">
<div>
  <ol>
    <li><span>1.</span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur. Fusce nec leo ut massa viverra venenatis. Nam accumsan libero a elit aliquet quis ullamcorper arcu tincidunt. Praesent purus turpis, consectetur quis congue vel, pulvinar at lorem. Vivamus varius condimentum dolor, quis ultricies ipsum porta quis. </p></li>
    <li><span>2.</span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur.  </p></li>
    <li><span>3.</span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur.  </p></li>
  </ol> 
</div>
</div>
<div id="rightcolumn">
<div class="login-page">
  <div class="form">
  <%= form_tag author_sessions_path, method: :post do %>
  <div class = "login-form">
    <div class="field">
      <%= label_tag :email %>
      <%= text_field_tag :email%>
    <br/>
    </div>
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    <br/>
    </div>
    <div class="actions">
      <button>login</button>
    </div>
  <% end %>
  <div>
    <br>
  <%= link_to 'Create Account', new_author_path %>
  </div>
  </div>
  </div>
  </div>
  </div>
</div>
<% else %>
<br>
<td><% controller.redirect_to authors_path %></td>
<br>
<% end %>

<script>
$('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
</script>

<footer>Copyright © Meta Scrape</footer>
