

<% if !logged_in? %>
<div id="wrapper">
<div id="leftcolumn">
<div>
  <ol>
    <li><span>1.</span><p>Disect the inner workings of any site to find other domains owned by same user.</p></li>
    <li><span>2.</span><p>Set up a scanner to detect any changes to a website every day, hour, or 10 minutes.</p></li>
    <li><span>3.</span><p>Target your Facebook and social media searches. Drill down to fihd the right person. </p></li>
  </ol> 
</div>
</div>
<div id="rightcolumn">
<div class="login-page">
  <div class="form">
  <%= form_tag author_sessions_path, method: :post do %>
  <div class = "login-form">
    <div class="field">
      <%= label_tag :email %>
      <%= text_field_tag :email%>
    <br/>
    </div>
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    <br/>
    </div>
    <div class="actions">
      <button>login</button>
    </div>
  <% end %>
  <div>
    <br>
  <%= link_to 'Create Account', new_author_path %>
  </div>
  </div>
  </div>
  </div>
  </div>
</div>
<% else %>
<br>
<td><% controller.redirect_to authors_path %></td>
<br>
<% end %>


<footer>Copyright © Meta Scrape</footer>
