<p id="notice"><%= notice %></p>


<%= link_to 'New Watcher', new_watcher_path %> <br>
<% if logged_in? %>
<table>
  <thead>
    <tr>
      <th>Domain</th>
      <th>URL</th>
      <th>User</th>
      <th>email</th>
      <th>Site Title</th>
    </tr>
  </thead>
  <tbody>
    <% @watchers.each do |watcher| %>
      <% #if watcher.user == current_user %>
      <tr>
        <td><%= link_to watcher.domain, watcher_path(watcher) %></td>
        <td><%= watcher.content.url %></td>
        <td><%= watcher.user.username%></td>
        <td><%= watcher.email %></td>
        <td><%= watcher.content.title%></td>
        <td><%= link_to 'Edit', edit_watcher_path(watcher) %></td>
        <td><%= link_to 'Destroy', watcher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% #end %>
    <% end %>
  </tbody>
</table>
<% else %>
<br>
<h2>Please login for this data</h2>
<br>

<% end %>

<br>
