<h1>New Watchers</h1>
<p id="notice"><%= notice %></p>


<%= form_for :watcher, url: watchers_path do |f| %>
  <p>
    <%= f.label :domain%><br>
    <%= f.text_field :domain %>
  </p>
  
  <p>
    <%= f.label :email%><br>
    <%= f.text_field :email %>
  </p>
  <p>
 <%= f.radio_button(:frequency, "min") %>
 <%= f.label(:frequency, "Every 10 Minutes") %>
 <%= f.radio_button(:frequency, "hour") %>
 <%= f.label(:frequency, "Every Hour") %>
 <%= f.radio_button(:frequency, "day") %>
 <%= f.label(:frequency, "Every DAy") %>
 </p>
  <p>
    <button name='button' type='submit'>Submit</button>
  </p>
</div>
<h3>Menu</h3>
<%= link_to 'See All Domains', controller: 'domains' %>
<%= link_to 'See All Monitors', controller: 'watchers' %>
  
<% end %>