<h1>New Watchers</h1>
<p id="notice"><%= notice %></p>


<%= form_for :watcher, url: watchers_path do |f| %>
  <p>
    <%= f.label :domain%><br>
    <%= f.text_field :domain %>
  </p>
 
  <p>
    <button name='button' type='submit'>Submit</button>
  </p>
</div>
<h3>Menu</h3>
<%= link_to 'See All Domains', controller: 'domains' %>
<%= link_to 'See All Monitors', controller: 'watchers' %>
  
<% end %>