<p id="notice"><%= notice %></p>


<h2>Results for <%= @watcher.domain %></h2>
<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell">Domain</div>
<div class="divTableCell">Title</div>
<div class="divTableCell">Status</div>
<div class="divTableCell">Keywords</div>
<div class="divTableCell">Description</div>
<div class="divTableCell">Number of Words</div>
<div class="divTableCell">Number of Links</div>
</div>
<div class="divTableRow">
<div class="divTableCell"><%= link_to @watcher.content.domain, watcher_path(@watcher), class:"link" %></div>
<div class="divTableCell"><%= @watcher.content.url%></div>
<div class="divTableCell"><%= @watcher.content.use%></div>
<div class="divTableCell"><%= @watcher.content.keywords%></div>
<div class="divTableCell"><%= @watcher.content.description%></div>
<div class="divTableCell"><%= @watcher.content.p.length%></div>
<div class="divTableCell"><%= @watcher.content.link%></div>
</div>
</div>
</div>


<%= link_to 'Edit', edit_watcher_path(@watcher) %> |
<%= link_to 'Back', watchers_path %>
