
<% if !logged_in? %>
<div id="wrapper">
<div id="leftcolumn">
<div>
  <ol>
    <li><span>1.</span><p>Disect the inner workings of any site to find other domains owned by same user.  A site's source code contains invaluable information about who is managing the webiste.  This application will scan a website's source code for individual login details that are unique to a domain owner.  Find contact details about who is using any website. </p></li>
    <li><span>2.</span><p>Set up a scanner to detect any changes to a website every day, hour, or 10 minutes.  Our tool allows you to monitor the content of a website for the slightest change.  With regularly schedule scans, you can be sure to know as soon as you like whether a person has made changes to their website.</p></li>
    <li><span>3.</span><p>Target your Facebook and social media searches.  It can be difficult trying to find the right "John Doe" on Facebook.  This search tool will allow you to specify the unique characteristics (where they work, where they live, email address, phone number, etc) in order to find the right person. </p></li>
  </ol> 
</div>
</div>
<div id="rightcolumn">
<div style="margin-left: 50px">
  <%= link_to 'Login with Google', auth_at_provider_path(:provider => :google), class: " button loginBtn loginBtn--google" %>  
<button class="loginBtn loginBtn--facebook">
  Login with Facebook
</button>
</div>
<div class="login-page">

  <div class="form">
  <%= form_tag user_sessions_path, method: :post do %>
  <div class = "login-form">
    <div class="field">
      <%= label_tag :email %>
      <%= text_field_tag :email%>
    <br/>
    </div>
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    <br/>
    </div>
    <div class="actions">
      <button>login</button>
    </div>
  <% end %>
  <div>
    <br>
  <%= link_to 'Create Account', new_user_path %>
  </div>
  </div>
  </div>
  </div>
  
  </div>
</div>
<% else %>
<br>
<td><% controller.redirect_to users_path %></td>
<br>
<% end %>


<footer>Copyright © Meta Scrape</footer>
