<!DOCTYPE html>
<html>
  <header>
   <div alighn = "left", padding>
      <%= image_tag("logo2.png", :alt => "rss feed",:size => '150x150') %>
  </div>
  </header>
  <head>
<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <style>
    
    
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4CAF50;
    margin-bottom:85px;
    margin-left: 4.5cm;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #E78200;
}
header {
    font-family: 'Lato', serif;
    font-size: 0px;
}
    </style>
    <title>Work</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% if logged_in? %>
<ul>
  <li><%= link_to 'Reverse Domain Search', domains_path %></li>
  <li><%= link_to 'Site Monitoring', watchers_path %></li>
  <li><%= link_to 'Facebook Search', facebook_domains_path %></li>
</ul>
<% else %>
<ul>
  <li><a href="#news">News</a></li>
  <li><a href="#about">About</a></li>
</ul>
<% end %>
</body>
<body>

<% if flash[:notice] %>
 <div class = "flash_success"><%= flash[:notice]%>
 </div>
<% end %>

<% if flash[:alert] %>
 <div class = "flash_failure"><%= flash[:alert]%>
 </div>
<% end %>
  <div id="container">
    <div id="content">
      <%= yield %>
      <hr>
      <h6>
        <% if logged_in? %>
          <%= "Logged in as #{current_user.email}" %>
          <%= link_to "(logout)", logout_path %>
        <% else %>
          <%= link_to "(login)", login_path %>
        <% end %>
      </h6>
    </div>
  </div>
</body>
  </body>
</html>
